.dateAndTime {
    margin-top: 250px;   
    /* z-index: 1; */
}

.lane{
  font-weight: bold;
  color: #ffff;
}

.calendar{
  margin: auto;
}

a:hover {
  color: #FFF;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #404041;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ampm {
  margin-left: 50px;
}

.am-link {
  margin-left: 50px;
}

.pm-link {
  margin-left: 230px;
}

button:focus {
  outline: 0;
}





