.swimmer {
  width: 100%;
  height: 200px; 
  border-bottom: outset;
}

.swimmer1 {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-bottom: outset;
  border-top: inset;
}

.swimmer2 {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-bottom: outset;
  border-top: inset;
}

.row {
    margin-top: -350px;   
    z-index: 10;
    
}

.lane{
  font-weight: bold;
  color: #FFF;
}

.calendar{
  margin: auto;
}

a:hover {
  color: #FFF;
}

body{
  background-color: rgb(255, 255, 255);
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #404041;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ampm {
  margin-left: 50px;
}

.am-link {
  margin-left: 50px;
}

.pm-link {
  margin-left: 230px;
}

button:focus {
  outline: 0;
}





